<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <div class="alinear">
      <%- include('../partials/leftmenu')%>
        <div id="right">
          <div id="botones">
            <%- include('../partials/buttons')%>
          </div>
    
          <div id="contenido">
            <%- include('../partials/message')%>            
            <%- include('../partials/order')%>
            
    
    
    
          </div>
    
        </div>
    </div>

    <%- include('../partials/modalAddProductOrder')%>
    <%- include('../partials/modalEditProductOrder')%>
    <script src="/js/presupuestos.js"></script>
    <%- include('../partials/footerJS')%>
</body>
</html>