<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <div class="alinear">
      <%- include('partials/leftmenu')%>
        <div id="right">
          <div id="botones">
            <%- include('partials/buttons')%>
          </div>
          <div id="contenido">
            <%- include('partials/estimates') %>
          </div>

        </div>
    </div>    

        <%- include('partials/modalAddEstimate')%>
        <%- include('partials/footerJS')%>
    </body>
    </html>