<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <div class="alinear">
      <%- include('partials/leftmenu')%>
        <div id="right">
          <div id="botones">
            <%- include('partials/buttons')%>
          </div>
          <div id="contenido">
              <%- include('partials/message') %>
              <%- include('partials/products') %>
          </div>

        </div>
    </div>    

            
    
        <%- include('partials/modalAddProduct')%>
        <%- include('partials/modalEditProduct')%>
        <%- include('partials/footerJS')%>
    </body>
    </html>