<div class="modal" id="modalAddProduct">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Nuevo Producto</h5>
            </div>
            <div class="modal-body">
                <form action="/productos/stock/addProduct" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="nombreProducto" name="nombre" class="form-control" placeholder="Nombre del Producto" maxlength="100" required>  
                            <span class="spanModal" id="spanNombreProducto">0/100</span>
                        </div>
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Precio de compra</label>
                            <input type="number" id="precioCompra" name="precioCompra" class="form-control" value="0.00" step="0.01" min="0.00" required>
                        </div>
                        <div class="col-md-4">
                            <label>Precio de venta</label>
                            <input type="number" id="precioVenta" name="precioVenta" class="form-control" value="0.00" step="0.01" min="0.00" required>
                        </div>
                        <div class="col-md-4">
                            <label>Tipo de IVA</label>
                            <select class="form-select" name="tipoIVA" required>
                                <% ivablock.forEach(i => {%>
                                    <option value="<%= i.id %>"><%= i.nombre %> - <%= i.valor %>% </option>
                                <% }) %>
                                <% ivauser.forEach(i => {%>
                                    <option value="<%= i.id %>"><%= i.nombre %> - <%= i.valor %>% </option>
                                <% }) %>

                            </select>    
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-select" name="tipo" required>
                                <option value="" selected disabled>Tipo Producto</option>
                                <% tipoblock.forEach(tb => {%> 
                                <option value="<%= tb.id %>"><%= tb.valor %></option>
                                <% }) %>
                                <% tipouser.forEach(tu => {%> 
                                    <option value="<%= tu.id %>"><%= tu.valor %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="referenciaProducto" name="referencia" class="form-control" placeholder="Referencia" maxlength="30">
                            <span class="spanModal" id="spanReferenciaProducto">0/30</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Cantidad</label>
                            <input type="number" id="cantidad" name="cantidad" class="form-control" placeholder="Cantidad" min="0" value="0">
                        </div>
                        <div class="col-md-6 ">
                            <label>Cantidad mínima</label>
                            <input type="number" id="cantidadminima" name="cantidadminima" class="form-control" placeholder="Cantidad Mínima" min="0" value="0">
                            <span class="spanModal">0 unidades no se considerará stock crítico</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <textarea class="form-control" rows="2" placeholder="Descripción del producto" name="descripcion" id="descripcionProducto" maxlength="500"></textarea>
                            <span class="spanModal" id="spanDescripcionProducto">0/500</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Marca</label>
                            <select class="form-select" name="marca" required>
                                <option value="0" selected>Sin Marca</option>
                                <% marcas.forEach(m => {%> 
                                <option value="<%= m.id %>"><%= m.company %></option>
                                <% }) %>
                            </select>
                            
                        </div>
                        <div class="col-md-6">
                            <label>Proveedor</label>
                            <select class="form-select" name="proveedor" required>
                                <option value="" selected disabled>Seleccione proveedor</option>
                                <% proveedores.forEach(p => {%> 
                                <option value="<%= p.id %>"><%= p.company %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input form-control" type="checkbox" id="reparable" name="reparable">
                                <label class="form-check-label" for="reparable">Reparable</label>
                            </div>
                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input form-control" type="checkbox" id="ns" name="ns">
                                <label class="form-check-label" for="ns">Producto con número de serie</label>
                            </div>
                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input form-control" type="checkbox" id="recurrente" name="recurrente">
                                <label class="form-check-label" for="recurrente">Añadir como producto recurrente</label>
                                <div class="tooltip"><i class="fa fa-circle-info"></i><span class="tooltiptext">Cuando la cantidad de producto se encuentre por debajo de la cantidad mínima, se preparará automáticamente pedido, a falta de ser confirmado.</span></div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    <br>
                    <div class="modal-footer">
                        <div id="botonesmodal from-group">
                            <button id="botonCrearProducto" type="submit" class="btn btn-success btn-md">Crear</button>
                            <button type="button" class="btn btn-danger btn-md" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>     
            </div>
            
        </div>
    </div>    
</div>