<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modalAddOrder"><i class="fas fa-dolly iconoboton"></i>Nuevo Pedido</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card  mb-12 ">
                    <div class="card-header">
                        <div class="row">
                            
                            <div class="col-md-3">
                                <h5>Pedidos</h5>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Escribe para filtrar..." id="buscadorProductos">
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row tablaProductos">
                            <table class="table">
                                <thead class="sticky-top bg-white">
                                  <tr>
                                    <th scope="col">Destinatario</th>
                                    <th scope="col">Proveedor</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Referencia</th>
                                    <th scope="col">Creación</th>
                                    <th scope="col">Modificado</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody id="tablaProductos">
                                  <% orders.forEach(p => { %> 
                                  <tr>
                                    <td ><%= p.para %></td>
                                    <td ><%= p.company %></td>
                                    <td><i title="<%= p.nombreestado %>" class="fa <% if (p.estado == 1) { %> fa-user-clock war <% } else if (p.estado==2){ %> fa-paper-plane enviado <% } else if (p.estado==3){ %> fa-circle-check ok <% } %>" ></i></td> 
                                    <td><%= p.referencia %></td>
                                    <td><%= (p.fechaCreacion).toLocaleDateString('es-ES', {year: 'numeric', month: 'long', day: 'numeric'}) %></td>
                                    <td><%= (p.fechaModificacion).toLocaleDateString('es-ES', {year: 'numeric', month: 'long', day: 'numeric'}) %></td>
                                    <td class="text-end">
                                        <% if (p.estado==1){%>
                                            <a href="/pedidos/pedido/<%= p.id %>"><i class="fas fa-pen"></i></a>
                                            <a href="/pedidos/pedido/delete/<%= p.id %>"><i class="fas fa-trash"></i></a>
                                        <%} else if (p.estado == 2 ) { %>
                                            <a href="/pedidos/pedido/<%= p.id %>"><i class="fas fa-eye"></i></a>
                                            <a href="/pedidos/pedido/delete/<%= p.id %>"><i class="fas fa-trash"></i></a>
                                        <%} else {%>
                                            <a href="/pedidos/pedido/<%= p.id %>"><i class="fas fa-eye"></i></a>
                                        
                                        <% } %>
                                        
                                    </td>
                                  </tr>
                                  <% }) %> 
                                  
                                </tbody>
                              </table>
                            
                        </div>

                    </div>        
    
                </div>
            </div>
        </div>
    </div>
</div>