<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modalAddProduct"><i class="fas fa-box iconoboton"></i>Nuevo Producto</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card  mb-12 ">
                    <div class="card-header">
                        <div class="row">
                            
                            <div class="col-md-3">
                                <h5>Productos</h5>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Escribe para filtrar..." id="buscadorProductos">
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="row tablaProductos">
                            <% if (products.length != 0) {%> 
                                <table class="table" >
                                    <thead class="sticky-top bg-white">
                                      <tr>
                                        <th scope="col"><a href="#">Nombre</a></th>
                                        <th scope="col"><a href="#">Precio Compra</a></th>
                                        <th scope="col"><a href="#">PVP</a></th>
                                        <th scope="col"><a href="#">IVA</a></th>
                                        <th scope="col"><a href="#">Cantidad</a></th>
                                        <th scope="col"><a href="#">Estado</a></th>
                                        <th scope="col"><a href="#">Proveedor</a></th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody id="tablaProductos">
                                      <% products.forEach(p => { %> 
                                      <tr>
                                        <td ><%= p.nombre %></th>
                                        <td ><%= (p.precioCompra).toLocaleString("es-ES", { style: "currency", currency: "EUR" }) %></th>
                                        <td ><%= (p.precioVenta).toLocaleString("es-ES", { style: "currency", currency: "EUR" }) %></th>   
                                        <td ><%= p.tipoIVATex %></th>   
                                        <td ><%= p.cantidad %></th>
                                        <td ><% if ( (p.cantidad > 0) && (p.cantidad > p.cantidadminima)) { %><i class="fa  fa-circle-check ok" title="Disponible"></i> <% } else if (p.cantidad == 0) {%><i class="fa fa-circle-xmark nok" title="No Disponible"></i> <% } else if ((p.cantidad > 0) && (p.cantidad <= p.cantidadminima) && (p.cantidadminima > 0)) { %> <i class="fa fa-triangle-exclamation war" title="Pocas unidades"></i> <% } %> </th>
                                        <td ><%= p.proveedorTex %></th>    
                                         
                                        <td class="text-end">
                                            <!--<a href="/administracion/stock/viewCompany/<%= p.id %>"><i class="fas fa-eye"></i></a>-->
                                            <a data-bs-toggle="modal" data-bs-target="#modalEditProduct<%= p.id %>" href="#modalEditProduct<%= p.id %>"><i class="fas fa-pen"></i></a>
                                            <a href="/administracion/stock/deleteProduct/<%= p.id %>"><i class="fas fa-trash"></i></a>
                                        </td>
                                      </tr>
                                      <% }) %> 
                                      
                                    </tbody>
                                </table>
                            
                            <% } %>
                        </div>
                    </div>
                </div>        

            </div>
        </div>
    </div>
</div>